@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700;800;900&display=swap");

:root {
  --black: #1e1a1d;
  --white: #fbfffe;
  --accent: #fe5f55;
  --grey: #f8afab;
  --button: #1e1a1d;

  --mainFont: "Epilogue", sans-serif;

  --h1: 900;
  --h2: 800;
  --h3: 700;
  --h4: 600;
  --p: 400;

  --padding: 10px 20px;
  --radius: 10px;
}

::selection {
  background-color: var(--accent);
  color: var(--white);
}

body {
  color: var(--black);
  background-color: var(--white);

  font-family: var(--mainFont);
  font-weight: 400;
}

h1 {
  font-weight: var(--h1);
  margin-top: 1rem;
}

h2 {
  font-weight: var(--h2);
  margin-top: 1rem;
}

h3 {
  font-weight: var(--h3);
  margin-top: 1rem;
}

h4 {
  font-weight: var(--h4);
  margin-top: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  background-color: var(--accent);
  border: none;
  padding: var(--padding);
  font-weight: var(--h1);
  text-transform: uppercase;
  border-radius: var(--radius);
  color: var(--button);
  cursor: pointer;
}

input[type="text"] {
  background-color: var(--black);
  color: var(--white);
  border: none;
  outline: none;
  padding: var(--padding);
  border-radius: var(--radius);
}

#darkboxLabel {
  font-weight: var(--h1);
  font-size: 2rem;
}

#darkbox {
  display: none;
}
